@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #21c45d;
    --color-secondary: #e8f9ee;
    --color-background: #ffffff;
    --color-text: #000000;

    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-background);
    color: var(--color-text);
}